*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
button {
    appearance: none;
    background: transparent;
    border: none;
  }

  
  /* Icons */
  .icon-xsmall{
    font-size:14px!important;
}
  .icon-small{
      font-size:24px!important;
  }
  .icon-medium{
    font-size:36px!important;
}
.icon-large{
    font-size:48px!important;
}
.icon-xlarge{
    font-size:60px!important;
}