/* Breakpoints */

$breakpoint-xxs: 350px;
$breakpoint-xs: 450px;
$breakpoint-sm: 768px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xlg: 1440px;
$breakpoint-xxlg: 1600px;

/* Breakpoints */
@mixin breakpoint($size) {
    @if $size==xxs {
      @media (min-width: $breakpoint-xxs) {
          @content;
      }
    } 
    @else if $size==xs {
      @media (min-width: $breakpoint-xs) {
          @content;
      }
    } 
    @else if $size==sm {
      @media (min-width: $breakpoint-sm) {
          @content;
      }
    } 
    @else if $size==md {
      @media (min-width: $breakpoint-md) {
          @content;
      }
    }  
    @else if $size==lg {
      @media (min-width: $breakpoint-lg) {
          @content;
      }  
    }
    @else if $size==xlg {
      @media (min-width: $breakpoint-xlg) {
          @content;
      }  
    }
    @else if $size==xxlg {
      @media (min-width: $breakpoint-xxlg) {
          @content;
      }  
    }
  
}