/* Font Family*/
h1,h2,h3{
    font-family: 'IBM Plex Sans', sans-serif; 
}
p,a,li{
    font-family: 'Inconsolata', monospace;
}

/* Font Size and Weight */

h1{
   font-size:150px;
   font-weight: 600;
}
h2{
    font-size:24px;
    font-weight: 400;
}
h3{
    font-size:20px;
    font-weight: 400;
}

p,a,li{
    font-size:14px;
    font-weight:400;
}

