<template>
    <div class="band page-section">
        <div class="heading-section">
            <h1 class="main-heading">{{ $prismic.richTextAsPlain(title)}}</h1>
        </div>
    </div>
</template>

<script>
    export default {
        name:'band',
        props:{
            title:{
                type: Array,
                default: () => []
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>