<template>
    <div class="music page-section">
        <div class="heading-section">
            <h1 class="main-heading">{{ $prismic.richTextAsPlain(title)}}</h1>
        </div>
            <div class="section-grid__12">
                <div class="music__releases">
                    <div class="music__releases-wrap">
                        <div class="music__song">
                            <h3 class="music-song-title">A Long Way From Home</h3>
                            <vuetify-audio :file="file" :ended="audioFinish"></vuetify-audio>
                        </div>
                        
                        <div class="music__song">
                            <h3 class="music-song-title">Let Me Fly</h3>
                            <vuetify-audio :file="file_two" :ended="audioFinish"></vuetify-audio>
                        </div>
                        <div class="music__song">
                            <h3 class="music-song-title">Going Nowehere</h3>
                            <vuetify-audio :file="file_three" :ended="audioFinish"></vuetify-audio>
                        </div>
                    </div>
                    
                </div>
                <div class="music__album">
                        <div class="music__album-wrap">
                        <v-img class="music__album-image image-box" grey lighten-2 :src="albumImage" transition="expand-transition"></v-img>
                            <div class="music__album-content">
                                <h2>A Long Way From Home</h2>
                                <h3>Debut album</h3>
                                <p>Listen Now</p>
                                <div>
                                    <a href="">
                                        <v-icon class="icon-large">mdi-spotify</v-icon>
                                    </a>
                                    
                                    <a href="">
                                        <v-icon class="icon-large">mdi-itunes</v-icon>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</template>

<script>

import VuetifyAudio from 'vuetify-audio';
    export default {
        name:'music',
        props:{
            title:{
                type: Array,
                default: () => []
            }
        },
        data() {
        return {
            file: 'https://audio.jukehost.co.uk/734cff3c542514adc5c9e7eed11d41c89808c8d2/76ec81464a9',
            file_two: 'https://audio.jukehost.co.uk/734cff3c542514adc5c9e7eed11d41c89808c8d2/42950bbe4f9',
            file_three: 'https://audio.jukehost.co.uk/734cff3c542514adc5c9e7eed11d41c89808c8d2/ed0e1e14957',
            albumImage: require('../assets/images/album-cover.png')
            
        };
        },
        components: {
            'vuetify-audio': VuetifyAudio
        },
        // If you want to use ended callback add below code
        methods: {
            audioFinish () {
                console.log('You see this means audio finish.');
            }
        },
    }
</script>

<style lang="scss" scoped>
    .music__releases{
        grid-column: 1/span 12;
    }
    .music__releases-wrap{
        margin-top:0;
    }
    .music__album{
        grid-column: 1/span 12;
    }
    .music__album-wrap{
        position:relative;
        
        &:hover{
            .music__album-content {
                visibility: visible;
                opacity: 0.9;
            }
        }
    } 
    .music__album-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #333;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        /* transition effect. not necessary */
        transition: 1s all;
        text-align: center;
        padding:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    .music__song:not(:last-child){
        margin-bottom:15px;
    }
    .music-song-title{
        margin-bottom:5px;
    }
    .music__album-image{
        
    }

    @include breakpoint(sm){
        .music__releases{
            grid-column: 1/span 6;
        }
        .music__releases-wrap{
            margin-top:24px;
        }
        .music__album{
            grid-column: 9/span 4;
        }
    }
    
</style>