/* Global Heading styles */
.main-heading{
    background: linear-gradient($secondary-text, $tertiary-text 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-section{
    margin-bottom:20px;
    margin-left: -10px;
}
.page-section{
    margin-bottom:100px;
}
.section-grid__12{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
}
.image-box{
    border-radius: 5px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

}
.image__image{
    position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}