<template>
  <div>
    <Hero/>  
      <div class="gradient-background">
        <v-container>
          
            <Music
              :title="fields.music_title"
            />
            <Band
              :title="fields.band_title"
            />
          
        </v-container>
      </div>
  </div>
  
</template>

<script>
import Hero from'@/components/Hero.vue'
import Music from'@/components/Music.vue'
import Band from'@/components/Band.vue'

import Prismic from 'prismic-javascript'
import PrismicConfig from '~/prismic.config.js'


export default {
  components: {
    Hero,
    Music,
    Band
  },
  async asyncData({ context, error, req }) {
    try {
      // Query to get API object
      const api = await Prismic.getApi(PrismicConfig.apiEndpoint, { req })

      // Query to get Music Documents
      const result = await api.getSingle('music')
      const document = result

      // Query to get Band Documents
      const resultTwo = await api.getSingle('band')
      const documentTwo = resultTwo

      // Returns data to be used in template
      return {
        
        document,
        fields: {
          //Music Data
          music_title: document.data.music_heading,
          //Band Data
          band_title: documentTwo.data.band_heading
          
        }
      }
    } catch (e) {
      // Returns error page
      error({ statusCode: 404, message: 'Page not found' })
    }
  },

}
</script>
<style lang="scss" scoped>
.gradient-background{
  // background-image: linear-gradient(#333, white);
  background: #333;
}
</style>
